/* The slider itself */
#telemetry_slider {
    background: transparent;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#telemetry_slider.mode0::-webkit-slider-thumb {
    background: #54c758;
}

#telemetry_slider.mode0::-moz-range-thumb {
    background: #54c758;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#telemetry_slider.mode1::-webkit-slider-thumb {
    background: #078f0a;
}

#telemetry_slider.mode1::-moz-range-thumb {
    background: #078f0a;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#telemetry_slider.mode2::-webkit-slider-thumb {
    background: url('/sc_a/img/incognito.png');
    background-size: contain;
}

#telemetry_slider.mode2::-moz-range-thumb {
    background: url('/sc_a/img/incognito.png');
    background-size: contain;
}
