body {
	background-color: #222222;
	font-family: "Arial", "Courier", "Letter Gothic";
	color: #BBBBBB;
}

div {
	padding: 10px 3px;
}

p {
	text-align: center;
	padding: 10px 3px;
}

.red {
	color: #FF8888;
	font: bold;
}

a:link {
	color: #5a8ad3;
	text-decoration: none;
	display: inline-block;
	padding: 14px 25px;
	border-radius: 10px;
}


a:visited {
	color: #bd95e2;
	text-decoration: none;
}

a:hover {
	color: #74cfa2;
	background-color: #353535;
	font: bold;
	transition: 0.3s;
	text-decoration: none;
}

a:active {
	color: #74cfa2;
	font: bold;
	text-decoration: none;
}

a.wip {
	color: #FF8888;
}

a.wip:hover {
	border: 2px solid #FF5555;
	padding: 11px 22px;
}

a.insecure:hover {
	border: 2px solid #fff56a;
	color: #fff99f;
	padding: 11px 22px;
}

table {
	margin: auto;
	border-style: none;
	color: #BFBFBF;
	width: 100%;
	margin: 3px;
	table-layout: fixed;
	font-size: 26px;
}

td {
	vertical-align: middle;
	padding: 10px 15px;
	border-style: none;
	text-align: center;
}

h1 {
	margin: auto;
	padding: 10px 0px;
	text-align: center;
}

hr {
	color: #888888;
	fill: #888888;
}

button:hover {
	background-color: #5f5f5f;
	transition: 0.2s;
}

form {
	text-align: center;
}

input {
	background-color: #222222;
	font-family: "Arial", "Courier", "Letter Gothic";
	color: #BBBBBB;
	border-radius: 10px;
	border-style: solid;
	padding: 14px 25px;
	font-size: 23px;
}

button {
	background-color: #222222;
	font-family: "Arial", "Courier", "Letter Gothic";
	color: #BBBBBB;
	border-radius: 10px;
	border-style: solid;
	padding: 14px 25px;
	font-size: 23px;
}

fieldset {
	background-color: #222222;
	font-family: "Arial", "Courier", "Letter Gothic";
	color: #BBBBBB;
	border-radius: 10px;
	border-style: solid;
	padding: 13px 22px;
	font-size: 16px;
	text-align: center;
	vertical-align: center;
}
