body {
	background-color: #222222;
	font-family: "Arial", "Courier", "Letter Gothic";
	color: #BBBBBB;
}

div {
	padding: 10px 3px;
}

p {
	text-align: center;
	padding: 10px 3px;
}

.red {
	color: #FF8888;
	font-weight: 500;
}

.green {
	color: #74cfa2;
	font-weight: 500;
}

.yellow {
	color: #e9e170;
	font-weight: 500;
}

table {
	margin: auto;
	border-style: solid;
	color: #BFBFBF;
	border-collapse: collapse;
	table-layout: initial;
}

th {
	padding: 15px 20px;
	border-style: none;
}

tr {
	border-style: solid;
}

td {
	padding: 10px 15px;
	border-style: none;
}

h1 {
	margin: auto;
	text-align: center;
	padding: 10px 0px;
}

hr {
	color: #888888;
	fill: #888888;
}

tr:not(:first-child):hover {
	background-color: #414141;
	transition: 0.1s;
}
