body {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

form {
    width: 98%;
    text-align: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input,
textarea {
    height: 100%;
    width: 100%;
    padding: 0px !important;
    border: none !important;
}

textarea {
    resize: none;
    font-size: inherit;
}

textarea.edit {
    background-color: #424242;
    border-radius: 0px;
    padding: 5px !important;
}

select {
    width: auto !important;
    border: none !important;
}

form div.content {
    flex-grow: 1;
}
