body {
	background-color: #222222;
	font-family: "Arial", "Courier", "Letter Gothic";
	color: #dddddd;
}

.center {
	margin: auto;
}

.red {
	color: #FF8888;
	font: bold;
}

.green {
	color: rgb(116, 207, 162);
	font: bold;
}

table {
	margin: auto;
	border-style: solid;
	border-collapse: collapse;
	border-color: #a1a1a1;
}

tr {
	border-style: solid;
	border-color: inherit;
}

td, th {
	padding: 10px 15px;
	border-style: none;
	font-size: 20px;
	font-weight: 3px;
	vertical-align: middle;
}

th {
	border-style: solid;
	border-color: inherit;
}

h1 {
	margin: auto;
	padding: 10px 0px;
	display: block;
}

hr {
	color: #888888;
	fill: #888888;
}

img.icon {
	height: 30px;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
}


a:link {
	color: #5a8ad3;
	text-decoration: none;
	display: inline-block;
	padding: 14px 25px;
	border-radius: 10px;
}

a.img:link {
	color: #5a8ad3;
	text-decoration: none;
	display: inline-block;
	padding: 9px 15px;
	border-radius: 10px;
}

a:visited {
	color: #bd95e2;
	text-decoration: none;
}

a:hover {
	color: #74cfa2;
	background-color: #353535;
	font: bold;
	transition: 0.3s;
	text-decoration: none;
}

a:active {
	color: #74cfa2;
	font: bold;
	text-decoration: none;
}
