body {
    background-color: #222222;
    font-family: "Arial", "Courier", "Letter Gothic";
    color: #BBBBBB;
    font-size: clamp(12px, 2vh, 20px);
}

div {
    padding: clamp(10px, 0.8em, 18px) clamp(3px, 0.2em, 10px);
}

p {
    text-align: center;
    padding: clamp(10px, 0.8em, 18px) clamp(3px, 0.2em, 10px);
}

h1 {
    margin: auto;
    padding: clamp(10px, 0.8em, 18px) 0px;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

hr {
    color: #505050;
    fill: #5c5c5c;
}

/* Basic Properties */

.invisible {
    display: none;
}

.red {
    color: #FF8888;
    font-weight: 500;
}

.green {
    color: #74cfa2;
    font-weight: 500;
}

.yellow {
    color: #e9e170;
    font-weight: 500;
}

.lime {
    color: #aadc00;;
    font-weight: 500;
}

.code {
    font-family: "Consolas", "Monospace";
    text-align: left;
}

.center {
    text-align: center;
    margin: auto;
}

.fullwidth {
    width: 100%;
}

.autowidth {
    width: auto;
}

.reducedwidth {
    width: 70%;
}

.hoverable:hover {
    background-color: rgba(255, 255, 255, 0.08);
    transition: 0.15s;
}

/* Font Sizes */

.hugefont {
    font-size: 2rem;
}

.bigfont {
    font-size: 1.6rem;
}

.mediumfont {
    font-size: 1.2rem;
}

/* Anchors */

a {
    color: rgb(90, 138, 211);
    text-decoration: none;
    display: inline-block;
    padding: clamp(14px, 1.1em, 26px) clamp(20px, 1.4em, 35px);
    border-radius: 10px;
    font-size: 1em;
}

a.compact {
    padding: initial;
    border-radius: initial;
}

a:visited {
    color: #bd95e2;
    text-decoration: none;
}

a:hover {
    color: rgb(116, 207, 162);
    font-weight: 400;
    transition: 0.3s;
    text-decoration: none;
}

a:not(.compact):hover {
    background-color: #353535;
}

a:active {
    color: rgb(116, 207, 162);
    font: bold;
    text-decoration: none;
}

a.wip:hover {
    border: 2px solid #FF5555;
    padding: clamp(11px, 0.95em, 26px) calc(2 * clamp(11px, 0.95em, 26px));
}

a.dead:hover {
    border: 2px solid #e67b7b;
    color: #ca7266;
    padding: clamp(11px, 0.95em, 26px) calc(2 * clamp(11px, 0.95em, 26px));
}

a.insecure:hover {
    border: 2px solid #fff56a;
    color: #fff99f;
    padding: clamp(11px, 0.95em, 26px) calc(2 * clamp(11px, 0.95em, 26px));
}

/* Buttons */

button,
input[type='button'] {
    background-color: #222222;
    font-family: "Arial", "Courier", "Letter Gothic";
    color: #BBBBBB;
    border-radius: 10px;
    border-style: solid;
    padding: clamp(14px, 1.1em, 26px) clamp(20px, 1.4em, 35px);
    font-size: 23px;
}

button:hover,
input[type='button']:hover {
    background-color: #383838;
    transition: 0.2s;
}
