body {
	background-color: #222222;
	font-family: "Arial", "Courier", "Letter Gothic";
	color: #BBBBBB;
}

div {
	padding: 10px 3px;
}

p {
	text-align: center;
	padding: 10px 3px;
}

.red {
	color: #FF8888;
	font-weight: 500;
}

.green {
	color: #74cfa2;
	font-weight: 500;
}

.yellow {
	color: #e9e170;
	font-weight: 500;
}

a:link {
	color: rgb(90, 138, 211);
	text-decoration: none;
	display: inline-block;
	padding: 14px 25px;
	border-radius: 10px;
}


a:visited {
	color: #bd95e2;
	text-decoration: none;
}

a:hover {
	color: rgb(116, 207, 162);
	background-color: #353535;
	font: bold;
	transition: 0.3s;
	text-decoration: none;
}

a:active {
	color: rgb(116, 207, 162);
	font: bold;
	text-decoration: none;
}

table {
	margin: auto;
	border-style: none;
	color: #BFBFBF;
	margin: 3px;
	table-layout: fixed;
	font-size: 24px;
}

td {
	padding: 10px 15px;
	border-style: none;
	text-align: center;
}

table.bordered {
	font-size: 18px;	
	width: 90%;
	border-style: solid;
	color: #BFBFBF;
	border-collapse: collapse;
	table-layout: auto;
}

table.bordered tr, table.bordered td, table.bordered th {
	border-style: solid;
}

table.bordered td {
	padding: 6px 12px;
}

table.bordered th {
	padding: 10px 17px;
}

table.bordered tr:first-child {
	border-bottom-style: solid;
}

.float-child {
	float: left;
	margin: 4px;
	width: 49%;
}

.center {
	margin: auto;
}

h1, h2 {
	margin: auto;
	padding: 10px 0px;
	text-align: center;
}

hr {
	color: #888888;
	fill: #888888;
}
